log/*.log
log/*.pid
tmp/**/*
.idea
nbproject
*.swp
*~
db/sphinx
db/development.sqlite3
public/stylesheets/all.css
public/stylesheets/compiled/
config/development.sphinx.conf
vendor/cache
vendor/gems/gems
vendor/gems/specifications
vendor/gems/doc
vendor/gems/environment.rb
