[submodule "vendor/plugins/acts-as-taggable-on"]
	path = vendor/plugins/acts-as-taggable-on
	url = git://github.com/mbleigh/acts-as-taggable-on.git
[submodule "vendor/plugins/authlogic"]
	path = vendor/plugins/authlogic
	url = git://github.com/binarylogic/authlogic.git
[submodule "vendor/plugins/awesome_nested_set"]
	path = vendor/plugins/awesome_nested_set
	url = git://github.com/collectiveidea/awesome_nested_set.git
[submodule "vendor/plugins/formtastic"]
	path = vendor/plugins/formtastic
	url = git://github.com/justinfrench/formtastic.git
[submodule "vendor/plugins/paperclip"]
	path = vendor/plugins/paperclip
	url = git://github.com/thoughtbot/paperclip.git
[submodule "vendor/plugins/rails-ckeditor"]
	path = vendor/plugins/rails-ckeditor
	url = git://github.com/galetahub/rails-ckeditor.git
[submodule "vendor/plugins/russian"]
	path = vendor/plugins/russian
	url = git://github.com/yaroslav/russian.git
[submodule "vendor/plugins/sitemap_generator"]
	path = vendor/plugins/sitemap_generator
	url = git://github.com/adamsalter/sitemap_generator.git
[submodule "vendor/plugins/thinking-sphinx"]
	path = vendor/plugins/thinking-sphinx
	url = git://github.com/freelancing-god/thinking-sphinx.git
[submodule "vendor/plugins/validates_captcha"]
	path = vendor/plugins/validates_captcha
	url = git://github.com/m4n/validates_captcha.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
[submodule "vendor/plugins/rpx_now"]
	path = vendor/plugins/rpx_now
	url = git://github.com/grosser/rpx_now.git
[submodule "vendor/plugins/authlogic_rpx"]
	path = vendor/plugins/authlogic_rpx
	url = git://github.com/tardate/authlogic_rpx.git
[submodule "vendor/plugins/rails-footnotes"]
	path = vendor/plugins/rails-footnotes
	url = git://github.com/josevalim/rails-footnotes.git
[submodule "vendor/plugins/cancan"]
	path = vendor/plugins/cancan
	url = git://github.com/ryanb/cancan.git
[submodule "vendor/plugins/table_builder"]
	path = vendor/plugins/table_builder
	url = git://github.com/p8/table_builder.git
[submodule "vendor/plugins/friendly_id"]
	path = vendor/plugins/friendly_id
	url = git://github.com/norman/friendly_id.git
[submodule "vendor/plugins/jrails"]
	path = vendor/plugins/jrails
	url = git://github.com/neocoin/jrails.git
[submodule "vendor/plugins/delocalize"]
	path = vendor/plugins/delocalize
	url = git://github.com/clemens/delocalize.git
[submodule "vendor/plugins/auto_complete_jquery"]
	path = vendor/plugins/auto_complete_jquery
	url = git://github.com/robertwahler/auto_complete_jquery.git
[submodule "vendor/plugins/haml"]
	path = vendor/plugins/haml
	url = git://github.com/nex3/haml.git
[submodule "vendor/plugins/compass"]
	path = vendor/plugins/compass
	url = git://github.com/chriseppstein/compass.git
