<h2>Регистрация</h2>

<% form_for @user, :url => user_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <br />
  <%= f.submit "Зарегистрироваться" %>
  <p> <%= link_to "Уже зарегистрированы?", login_path %> или <a href="">Восстановить пароль</a> </p>
<% end %>
