.centered
  %img{:alt => "Корнев Руслан aka woto", :height => "160", :src => "http://farm4.static.flickr.com/3539/4567817472_f107697a88_o.jpg", :width => "120"}
%br
Разрешите представиться, я, Корнев Руслан aka woto. Веб программист, занимаюсь разработкой сайтов на Ruby on Rails и PHP. Стараюсь делать интересные, в меру уникальные сайты, ищу работу. Подробнее на странице. Oбо мне...
