%ul
  %li
    %a{:href => "http://hh.ru/resume/472e8180008173f5"} Head Hunter
  %li
    %a{:href => "http://kornevruslan.moikrug.ru/"} Мой Круг
  %li
    %a{:href => "http://www.twitter.com/woto7"} Twitter
  %li
    %a{:href => "http://delicious.com/woto"} Delicious
  %li
    %a{:href => "http://www.youtube.com/user/wotok7"} Youtube
  %li
    %a{:href => "http://woto7.blogspot.com/"} Blogspot</a
  %li
    %a{:href => "http://vimeo.com/woto"} Vimeo
  %li
    %a{:href => "http://www.flickr.com/photos/48576382@N06/"} Flickr
  %li
    %a{:href => "http://github.com/woto"} Github
  %li
    %a{:href => "http://www.google.com/profiles/107009283623209618815"} Google Buzz
  %li
    %a{:href => "http://www.google.com/reader/shared/03958211105266633351"} Google Reader
  %li
    %a{:href => "http://friendfeed.com/woto"} Friend Feed
  %li
    %a{:href => "http://www.facebook.com/profile.php?id=100000295528262"} Facebook
