@import "partials/_base";
@import "screen";
@import "compass/utilities/links/link-colors";
@import "compass/utilities/links/hover-link";
@import "compass/css3";
@import "compass/utilities/general/float";
@import "compass/utilities/lists/horizontal-list";
@import "compass/css3/box-shadow";
@import "compass/css3/inline-block";
@import "compass/utilities/lists/bullets";
@import "compass/utilities/general/hacks";
@import "compass/utilities/lists/inline-list";


body {
  a { 
    text-decoration: none;
    @include link-colors($normal, $hover, $active, $visited, $focus)
  }
  .centered { text-align: center; margin-left: auto; margin-right: auto; }
  .box { 
    @include border-radius(8px);
    background-color: $box;
    border: 2px solid $border;
  }
  .ajax {
    text-decoration: none;
    border-bottom: 1px dashed $normal;
  }
  .fieldWithErrors {
    background: red;
  }
  .errorExplanation {
    background: yellow;
  }
  .nospace {
    margin: 0;
    padding: 0;
  }
}

#header {

  @extend .append-bottom;

  #title { 
    margin: 0;
    @include float-left;
  }
  ul#nav { 
    @include inline-list; 
    @include float-right;
    font-size: 16px;
    margin-top: 10px;
  }
}

#main {
  padding-top: 1.45em;
  extend: prepend-top;
  .post {
    position: relative;
  }
  .control {
    display: none;
    position: absolute;
    top: -15px;
    right: 0;
  }
}
#wrapper
{
  @extend .prepend-top;
}

#sidebar {

  ul { padding: 0; margin: 0; @include no-bullets; }
  li { padding: 2px 0; }
  li li { padding-left: 18px; }

  .loud { @include text-shadow; }

  #search {
    input.text {  width: 145px; }
    input.button { vertical-align: baseline; }
  }

  .tag_level_1 {font-size: 105%}
  .tag_level_2 {font-size: 110%}
  .tag_level_3 {font-size: 115%}
  .tag_level_4 {font-size: 120%}
  .tag_level_5 {font-size: 125%}
  .tag_level_6 {font-size: 130%}
  .tag_level_7 {font-size: 135%}
  .tag_level_8 {font-size: 135%}
  .tag_level_9 {font-size: 140%}
  .tag_level_10 {font-size: 140%}
  .tag_level_11 {font-size: 145%}
  .tag_level_12 {font-size: 145%}
  .tag_level_13 {font-size: 145%}
  .tag_level_14 {font-size: 145%}
  .tag_level_15 {font-size: 150%}
  .tag_level_16 {font-size: 150%}
  .tag_level_17 {font-size: 150%}
  .tag_level_18 {font-size: 150%}
  .tag_level_19 {font-size: 155%}
  .tag_level_20 {font-size: 155%}
  .tag_level_21 {font-size: 155%}
  .tag_level_22 {font-size: 155%}
  .tag_level_23 {font-size: 155%}
  .tag_level_24 {font-size: 160%}
  .tag_level_25 {font-size: 160%}
  .tag_level_26 {font-size: 160%}
  .tag_level_27 {font-size: 160%}
  .tag_level_28 {font-size: 160%}
  .tag_level_29 {font-size: 160%}
  .tag_level_30 {font-size: 160%}
  .tag_level_31 {font-size: 160%}
  .tag_level_32 {font-size: 165%}
  .tag_level_33 {font-size: 165%}
  .tag_level_34 {font-size: 165%}
  .tag_level_35 {font-size: 165%}
  .tag_level_36 {font-size: 165%}
  .tag_level_37 {font-size: 165%}
  .tag_level_38 {font-size: 165%}
  .tag_level_39 {font-size: 165%}
  .tag_level_40 {font-size: 170%}
  .tag_level_41 {font-size: 170%}
  .tag_level_42 {font-size: 170%}
  .tag_level_43 {font-size: 170%}
  .tag_level_44 {font-size: 170%}
  .tag_level_45 {font-size: 170%}
  .tag_level_46 {font-size: 170%}
  .tag_level_47 {font-size: 170%}
  .tag_level_48 {font-size: 170%}
  .tag_level_49 {font-size: 170%}
  .tag_level_50 {font-size: 170%}

  #calendar {

    table { 
      margin-bottom: 0; 
      font-size: 90% 
    }
    
    th {
      background: $box;
    }

    td {
      text-align: center;
    }

    .notmonth {
      color: #999;
    }
    .not_empty_day {
      font-weight: bold;
    }

    .today {
      color: red;
      .not_empty_day > a {
        color: red;
      }
    }

  }

  //#categories {
  //  font-size: 140%;
  //  ul li {
  //    font-size: 80%;
  //  }
  //}
}

.footer {
  @extend .centered;
  @extend .prepend-top;
  @extend .append-bottom;
}

#pagination {
  text-align: center;
  padding: .3em;
  a, span {
    padding: .2em .5em;
  }
  span.disabled {
    color: $active;
  }
  span.current {
    color: $hover;
    border: 2px solid $border;
  }
  a {
    border: 2px solid $border;
    color: $active;
    text-decoration: none;
    background-color: $box;
    &:hover, &:focus {
      border-color: $hover;
      color: $hover;
    }
    &:active {
      color: $active;
      border-color: $active;
    }
  }
  .prev_page {
    margin-right: 1em;
  }
  .next_page {
    margin-left: 1em;
  }
}
