<span class="tag_level_<%= tags.count %>"><%- if params[:id] -%>
    <%- aTags = params[:id].split(',') -%>
    <%- if(aTags).include?(tags.name) -%>
      <% return %>
      <%- else -%><%- aTags << tags.name -%><%= link_to "+", filter_post_path(aTags.join(',')) %><%- end -%><%- end -%>&nbsp;<%= link_to tags.name, filter_post_path(tags.name) %>&nbsp;(<%= tags.count %>)</span>
