<span class="tag_level_<%= tag.count %>">
  <%- tags = Array.[](params[:tags]).flatten -%>
  <%- if(tags).include?(tag.name) -%>
    <% return %>
  <%- else -%>
    <%- tags << tag.name -%>
    <%= link_to \
    "+", \
      search_posts_path(:tags => tags, :category => params[:category]) %>
  <%- end -%>
  &nbsp;<%= link_to tag.name, search_posts_path(:tags => tag.name, :category => params[:category]) %>
</span>
