<div id="categories">
  <% fields_for @post do |f| %>
    <%= f.select :category_id, 
      options_for_select(
        [nil] + nested_set_options(Category) {|i| "#{'-' * i.level} #{i.name}" }, 
        # Если запрос пришел аяксом, то сбрасываем категорию, т.к. @post пустой
        @post.nil?  ? nil : @post.category.try(:id)
      ), {}, :class => "check_changing" %>
  <% end %>&nbsp;
  <%= link_to "Управление категориями", categories_path(:format => :iframe), {:id => 'render_categories', :class => "ajax"} %>
</div>
